@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>.

<html ng-app="ClientApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="refresh" content="60">
    <title>Index</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-route.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/app.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/controller.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/services.js")" type="text/javascript"></script>
</head>
<body>
    <div class="main container" ng-view>

    </div>
</body>
</html>